html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(231,231,231);
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(0,0,0);
}

h1{
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

table{
    padding: 20px;
}

td{
    margin: 0;
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    background-color: rgb(245,245,245);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left
}


input{
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid rgb(211,211,211);
    font-size: 1rem;
    padding: 5px;
}

input:focus{
    border-bottom: 2px solid rgb(140,150,255);
    outline: none;
}

.header{
    font-family: 'Rubik', sans-serif;
}

/* for the icons */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#wrap{
    height: 100%;
    width: 100%;
    display: flex;
}

#side-bar{
    position: fixed;
    float: left;
    height: 100%;
    background-color: rgb(241,241,241);
    box-shadow: 3px 0px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
    /* overflow: hidden; */
}

.logo{
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: rgb(140,150,255);
    font-size: 36px;
    font-weight: 600;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
    color: rgb(241,241,241);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.logo>img{
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(2px 5px 1px rgba(0,0,0,0.3));
    filter: drop-shadow(2px 5px 1px rgba(0,0,0,0.3));
    transition: 0.15s;
}

.logo>img:hover{
    margin-top: 2px;
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.3));
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.3));
}

#side-bar-logo:hover{
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
    padding-left: 12px;
    padding-top: 12px;
    width: 58px;
    height: 58px;
}

#side-bar-menu{
    height: 100%;
    float: right;
}

.side-bar-content{
    width: 300px;
    float: left;
    height: 100%;
    display: none;
    margin: 0;
    box-shadow: 3px 0px 5px rgba(0,0,0,0.2);
    overflow: auto;
}

.menu-icon{
    height: 70px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    line-height: 15px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.menu-icon:hover{
    background-color: rgb(221,221,221);
}

.menu-icon.active{
    color: rgb(140,150,255);
}

.side-bar-menu{
    float: right;
    width: 70px;
}

.side-bar-menu-content{
    display: none;
    height: 100%;
    background-color: rgb(252,252,252);
    overflow-y: scroll;
}

#content{
    flex: 1;
    margin-left: 70px;
    min-height: 100vh;
    height: auto;
    overflow: auto;
    transition: 0.15s;
}

#content>*{
    box-sizing: border-box;
}

.content-list{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.content-list>li{
    margin: 10px;
    display: inline-block;
    min-width: 100px;
    white-space: nowrap;
}

.login-input>form>input{
    margin-top: 40px;
    margin-left: 10%;
    height: 30px;
    width: 80%;
}
.login-input>form>.submit{
}

.course-panel{
    width: 320px;
    height: 370px;
    display: block;
    overflow: hidden;
}

.course-header{
    font-weight: 600;
    color: rgb(255,255,255);
    background-color: rgb(140,150,255);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    padding: 10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
}

.course-header{
    font-weight: 600;
    color: rgb(255,255,255);
    background-color: rgb(140,150,255);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    padding: 10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    transition: all 0.5s;
}

.course-header:hover{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    background-color: rgb(110,120,255);
}

.course-summary{
    height: 100%;
    display: block;
    overflow: auto;
    word-wrap: break-word;
    background-color: rgb(252,252,252);
    padding: 5px;
}



#error-header{
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    font-weight: 600;
    background-color: rgb(140,150,255);
    color: rgb(255,255,255);
    text-align: center;
    padding-top: 170px;
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 60px;
}

#error-subtitle{
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    width: 80%;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    background-color: rgb(241,241,241);
    padding: 10px;
    margin: 0 auto;
}

#error-message{
    font-weight: 600;
    text-align: center;
    width: 80%;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    background-color: rgb(241,241,241);
    padding: 10px;
    margin: 0 auto;
}

.detail{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgb(241,241,241);
    min-height: 100vh;
    overflow: auto;
}

.detail-content-wrap{
    margin: 10px;
}

.recommendations{
    display: flex;
    width: 100%;
}

.detail-header{
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    font-weight: 600;
    background-color: rgb(140,150,255);
    color: rgb(255,255,255);
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 40px;
}
.detail-options{
    display: flex;
}

.button{
    flex: 1;
    text-align: center;
    width: 170px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgb(241,241,241);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    display: inline-block;
    padding: 10px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}


.button:hover{
    cursor: pointer;
    background: rgb(238,238,238);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.course-summary>.detail-info{
    float: none;
}

.detail-info{
    margin: 0 auto;
    float: right;
}

.comment{
    padding: 10px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    margin-top: 20px;
}

.tag-list{
    margin-left: 2px;
    margin-right: 2px;
}

.detail-tag-list{
    float: left;
}

.tag-list-item{
    display: inline-block;
    color: rgb(255,255,255);
    background: rgb(140,150,255);
    font-size: 12px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left 5px;
    margin-right: 5px;
    margin-top: 7px;
}

.detail-subheader{
    height: 60px;
}

.like-button{
    color: rgb(255,255,255);
    background: rgb(140,150,255);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.like-button>.material-icons{
    font-size: 30px;
}

.like-button:hover{
    background: rgb(80,90,215);
}

.devider{
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.sidebar-header{
    color: rgb(255,255,255);
    background-color: rgba(140,150,255,0.6);
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    width: 100%;
    text-align: center
}

.register-header{
    color: rgb(255,255,255);
    background-color: rgba(140,150,255,0.6);
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    width: 100%;
    text-align: center
}

.error-error{
    color: rgb(255,255,255);
    font-size: 14px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255,150,140,0.8);
}

.button-active{
    background-color: rgba(140,150,255,0.6);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.button-active:hover{
    background-color: rgba(140,150,255,0.6);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.error-fine{
    color: rgb(255,255,255);
    font-size: 14px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(90,210,80,0.9);
}

.filter-header{
    color: rgb(255,255,255);
    background-color: rgba(0,0,0,0.3);
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px
    width: 100%;
    text-align: center
}

.filter-button{
    height: 30px;
    width: 100%;
    background-color: rgba(0,0,0,0.05);
    color: rgb(255,255,255);
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s;
}
.filter-button:hover{
    background-color: rgba(0,0,0,0.2);
}

.filter-button>.material-icons{
    font-size: 36px;
}

.filter-dropdown-content{
    border-top: solid 3px rgba(140,150,255,0.3);
    padding-top: 4px;
    padding-bottom: 4px;
}

.filter-list-item{
    display: inline-block;
    color: rgb(255,255,255);
    background: rgb(140,150,255);
    font-size: 12px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left 5px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.filter-dropdown-item{
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: all 0.3s;
}

.filter-dropdown-item:hover{
    background: rgba(140,150,255,0.6);
}

.empty-dropdown{
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: all 0.3s;
}

.login-dialog{
    position: absolute;
    width: 400px;
    height: 150px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgb(245,245,245);
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.login-dialog-header{
    display: inline-block;
    background-color: rgb(140,150,255);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
    width: 410px;
    padding: 10px;
    margin: -15px;
    margin-bottom: 10px;
    color: rgb(251,251,251);
}

.login-dialog-close{
    float: right;
}

.login-dialog-close:hover{
    color: rgba(251,251,251,0.8);
}

.login-dialog-button{
    display: block;
    bottom: 5px;
    margin: 0 auto;
    margin-top: 20px;
}

.search-input{
    margin: 10px;
    margin-top: 20px;
    width: 280px;
}

.comment-form>textarea{
    padding: 10px;
    width: 100%;
    height: 200px;
    border: none;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
    border-bottom: 2px solid rgb(211,211,211);
}

.comment-submit{
    padding: 10px;
    width: inherit;
    height: inherit;
    float: right;
    margin-top: 20px;
    background-color: rgb(140,150,255);
    border-radius: 100%;
}

.comment-submit:hover{
    background-color: rgb(80,90,215);
    border-radius: 100%;
}

.comment-submit>.material-icons{
    font-size: 36px;
    color: rgb(255,255,255);
}

.comments{
    margin-top: 100px;
}

.username{
    width: 100%;
    margin: -15px;
    margin-bottom: 10px;
    background-color: rgb(140,150,255);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255,255,255);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}
